<% layout("layouts/boilerplate.ejs") -%>

    <body>
        <div class="row mt-3">
            <div class="col-8 offset-3">
                <h2>
                    <%= listing.title %>
                </h2>
            </div>
            <div class="card col-6 offset-3 show-card listing-card">
                <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="<%= listing.title %>">
                <div class="card-body">
                    <p class="card-text">
                        <i>Owned by <%= listing.owner.username %></i>
                    </p>
                    <p class="card-text"></p>
                    <%= listing.description %>
                        </p>
                        <p class="card-text">
                            &#8377;<%= listing.price.toLocaleString("en-IN")%>
                        </p>
                        <p class="card-text">
                            <%= listing.location %>
                        </p>
                        <p class="card-text">
                            <%= listing.country %>
                        </p>
                        <% if(currentUser && currentUser._id.equals(listing.owner._id)) { %>
                            <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark add-btn">Edit</a><br><br>
                            <form method="POST" action="/listings/<%= listing._id %>?_method=DELETE">
                                <button type="submit" class="btn btn-dark">Delete</button><br>
                            </form>
                            <% } %>
                </div>
            </div>
            <div class="col-6 offset-3">
                <hr>
                <% if(currentUser) { %>
                    <h5>Leave a Review</h5>
                    <form action="/listings/<%= listing._id %>/reviews" method="POST" novalidate
                        class="needs-validation">
                        <!-- <div class="mb-3 mt-3">
                            <label for="rating" class="form-label">Rating</label>
                            <input type="range" min="1" max="5" name="review[rating]" id="rating" class="form-range">
                        </div> -->

                        <div class="mb-3 mt-3">
                            <label for="rating" class="form-label">Rating</label>
                        <fieldset class="starability-slot">
                            <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked
                                aria-label="No rating." />
                            <input type="radio" id="first-rate1" name="review[rating]" value="1" />
                            <label for="first-rate1" title="Terrible">1 star</label>
                            <input type="radio" id="first-rate2" name="review[rating]" value="2" />
                            <label for="first-rate2" title="Not good">2 stars</label>
                            <input type="radio" id="first-rate3" name="review[rating]" value="3" />
                            <label for="first-rate3" title="Average">3 stars</label>
                            <input type="radio" id="first-rate4" name="review[rating]" value="4" />
                            <label for="first-rate4" title="Very good">4 stars</label>
                            <input type="radio" id="first-rate5" name="review[rating]" value="5" />
                            <label for="first-rate5" title="Amazing">5 stars</label>
                        </fieldset>
                        </div>
                        <div class="mb-3 mt-3">
                            <label for="comment" class="form-label">Comment</label>
                            <textarea name="review[comment]" rows="5" id="comment" class="form-control"
                                required></textarea>
                            <div class="invalid-feedback">
                                Please Comment
                            </div>
                        </div>
                        <div class="mb-3 mt-3">
                            <button class="btn btn-outline-dark">Submit</button>
                        </div>
                    </form>
                    <% } %>
            </div>
            <hr>
            <div class="col-7 offset-3">
                <p><b>All Reviews</b></p>
                <div>
                    <div class="row">
                        <% for(review of listing.reviews){ %>
                            <div class="card mt-3 mb-3 col-5 ms-3 mb-3">
                                <div class="card-body">
                                    <div class="card-title"><b>@<%= review.author.username %></b></div>
                                    <p class="starability-result card-text mb-1" data-rating="<%= review.rating %>">
                                    </p>
                                    <div class="card-text">
                                        <%= review.comment %>
                                    </div>
                                </div>
                                <% if (currentUser && review.author.equals(currentUser._id)) { %>
                                    <form action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
                                        method="POST">
                                        <button class="btn btn-sm btn-dark mt-3 mb-3">Delete</button>
                                    </form>
                                    <% } %>
                            </div>
                            <% } %>
                    </div>
                </div>
            </div>
        </div>
    </body>